<footer class="page-footer main-footer width-container">
      <section class="footer-contacts">
        <h2 class="visually-hidden">Контактная информация</h2>
        <p>#visitsedona</p>
        <p>тел: <a class="footer-phone" href="tel:+74956660166">+7(495) 666-01-66</a></p>
      </section>

      <section class="footer-social">

        <h2 class="visually-hidden">Ссылки на соцсети</h2>
          {% include 'menus/footer_menu.html' with menu=menus.footer_menu %}

      </section>

      <div class="footer-copyright">

      </div>
    </footer>