{% extends 'base.html' %}

{% block content %}

<main class="main-container width-container">

      <h1 class="visually-hidden">Городок Седона</h1>

      <section class="main-banner">
        <h2 class="visually-hidden">Приветственный баннер</h2>
        <p class="visually-hidden">Добро пожаловать в великолепную Седону! Потому что Гранд Каньон - отстой!</p>
      </section>

      <section class="features">
        <h2 class="visually-hidden">Блок преимуществ</h2>
        <div class="features-title">
          <p>{{ object.seo_description }}</p>
          <p>Рассмотрим {{ object.reasons_items.count }} причин, по которым Седона круче, чем Гранд Каньон!</p>
        </div>
        <ul class="features-list">
          <li class="feature-item-1">
            <div class="feature-item feature-main-city">
              <h3>{{ object.reasons_items.all.0.reasons_title|safe }}</h3>
              <p>&ndash;&emsp13;№{{ object.reasons_items.all.0.reasons_number }}&emsp13;&ndash;</p>
              <p>{{ object.reasons_items.all.0.reasons_description }}</p>
            </div>
            <ul class="recommendations-list">
              <li class="recommendation-item">
                <h4>{{ object.reasons_items.all.0.recommendation_title_1 }}</h4>
                <p>{{ object.reasons_items.all.0.recommendation_description_1 }}</p>
              </li>
              <li class="recommendation-item">
                <h4>{{ object.reasons_items.all.0.recommendation_title_2 }}</h4>
                <p>{{ object.reasons_items.all.0.recommendation_description_2 }}</p>
              </li>
              <li class="recommendation-item">
                <h4>{{ object.reasons_items.all.0.recommendation_title_3 }}</h4>
                <p>{{ object.reasons_items.all.0.recommendation_description_3 }}</p>
              </li>
            </ul>
          </li>
          <li class="feature-item-2">
            <div class="feature-item feature-main-bridge">
              <h3>{{ object.reasons_items.all.1.reasons_title|safe }}</h3>
              <p>&ndash;&emsp13;№{{ object.reasons_items.all.1.reasons_number }}&emsp13;&ndash;</p>
              <p>{{ object.reasons_items.all.1.reasons_description }}</p>
            </div>
          </li>
          {% for item in object.reasons_items.all|slice:"2:" %}
          <li class="feature-item feature-standart">
            <h3>{{ item.reasons_title|safe }}</h3>
            <p>&ndash;&emsp13;№{{ item.reasons_number }}&emsp13;&ndash;</p>
            <p>{{ item.reasons_description|linebreaks }}</p>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section class="search">
        <h2 class="visually-hidden">Блок поиска гостиницы в Седоне</h2>
        <p>Заинтересовались?</p>
        <p>Укажите предполагаемые даты поездки, <br> и забронируйте гостиницу в Седоне</p>
        <button class="button button-form-show" type="button">Бронирование гостиницы</button>
      {% include 'include/bron.html' %}
      </section>
      <section class="map">
        <h2 class="visually-hidden">Карта с указанием местоположения городка Седона</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d839628.306850027!2d-111.75294857414956!3d34.710272691834135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCA4NjMzNiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1602518012667!5m2!1sru!2sru"
          width="1200" height="594" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </section>
    </main>

{% endblock %}
